{% extends "base.html" %}

{% block title %}detail{% endblock %}

{% block content %}

		<div class="container mx-auto bg-blue-50 pl-2 justify-center">
            <table class="table-fixed container mx-auto bg-green-100 justify-center">
                <tr>
                    <th>Field</th><th>Value</th>
                </tr>
                <tr>
                    <td>session ID</td>
                    <td>{{ session.sessionID }}</td>
                </tr>
        
                 <tr>   
                    <td>Audio File</td>
                    <td>{{ audioInput.fileName }}</td>
                </tr>
                <tr>   
                    <td>Video File</td>
                    <td>{{ videoInput.fileName }}</td>
                </tr>
                <tr>   
                    <td>HRV</td>
                    <td>{{ hRV.fileName }}</td>
                </tr>
                <tr>   
                    <td>Skin Conductance File</td>
                    <td>{{ skinConductance.fileName }}</td>
                </tr>
                <tr>   
                    <td>Empatica_EDA File</td>
                    <td>{{ empatica_EDA.fileName }}</td>
                </tr>
                <tr>   
                    <td>Empatica_TEMP File</td>
                    <td>{{ empatica_TEMP.fileName }}</td>
                </tr>
                <tr>   
                    <td>text File</td>
                    <td>{{ textFile.fileName }}</td>
                </tr>
                <tr>   
                    <td>GPS File</td>
                    <td>{{ gPS.fileName }}</td>
                </tr>
                <tr>   
                    <td>results File</td>
                    <td>{{ results.fileName }}</td>
                </tr>
                
            </table>
            
        </div>


        {% endblock %}







