{% extends "base.html" %}

{% block title %}detail{% endblock %}

{% block content %}

		<div class="container mx-auto bg-blue-50 pl-2 justify-center">
            <table class="table-fixed container mx-auto bg-green-100 justify-center">
                <tr>
                    <th>Field</th><th>Value</th>
                </tr>
                <tr>
                    <td>session ID</td>
                    <td>{{ session.sessionID }}</td>
                </tr>
        
                 <tr>   
                    <td> Raw Audio File</td>
                    <td>{{ rawAudioInput.fileName }}</td>
                </tr>
                <tr>   
                    <td>Raw Video File</td>
                    <td>{{ rawVideoInput.fileName }}</td>
                </tr>
                
                <tr>   
                    <td>results File</td>
                    <td>{{ results.fileName }}</td>
                </tr>
                
            </table>
            
        </div>


        {% endblock %}







