{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>DFI_DataCollection</title>
	<script src="https://cdn.tailwindcss.com"></script>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-blue-50 font-sans leading-normal tracking-normal">
		<div class="container mx-auto">
			<section class="flex items-center justify-center h-20">
				<h1 class="text-5xl text-blue-400">DFI Data Collection Portal Beta</h1>
			</section>
		</div>

		<div id="content">
			{% block content %}{% endblock %}
		</div>


	</body>
</html>





